body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 3;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}





.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1 {
    text-align: center;
    color: white;
  }
  .contact-links {
    margin-top: 30px;
    text-align: center;
  }
  .contact-links a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  .contact-links a:hover {
    color: red;
  }



  .footer-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-menu ul li {
    display: inline;
    margin-right: 30px; /* Aumentar o espaço entre os itens do menu */
}

.footer-menu {
    padding: 20px 0; /* Adicionar espaço acima e abaixo do menu */
}

.footer-menu ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: red;
}
